<div class="row" style="margin-top: 18%;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form ng-submit="login()">
            <div class="panel panel-info">
                <div class="panel-heading">Login to DDI Aquaponics</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <input class="form-control" type="text" ng-model="username" placeholder="Username" required />
                        </div>
                        <div class="col-md-12">
                            <input class="form-control" type="password" ng-model="password" placeholder="Password" required />
                        </div>
                        <div class="col-md-12" style="text-align: center;">
                            <button type="submit" class="button btn-primary">Login</button>
                        <div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
